/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* PAGE RESET */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

/* NAVBAR */
.navbar{
  background-color: #c9bbc8;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
  align-items: center;
}

.logo{
  height: 4rem;
  width: 12rem;
  margin-left: 1rem;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  align-self: center;
  margin-left: 1rem;
}

.navlist{
  display: flex;
  list-style-type: none;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navlist:hover, button:hover{
  cursor: pointer;
}

.navlist-item{
  padding: 1rem;
  border-radius: 5px;
}

.navlist-link{
  height: 100%;
  color: black;
  text-decoration: none;
}

.navlist-item:hover{
  background-color: #ad9aad;
}

/* ADD TO CART */
.addToCart{
  margin-top: 1rem;
}

.stock{
  display: flex;
  align-items:center;
}

.stockTxt{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
}

.stockBtn{
  margin-bottom: 1rem;
}

.stockBtn, .addToCartBtn, .detailBtn{
  background-color: #e5c1cd;
  border: #c9bbc8;
  padding: .5rem;
  border-radius: 3px;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.itemSection{
  display: flex;
  flex-wrap: wrap;
}

.itemCard{
  margin-left: 1rem;
  border: #c9bbc8;
  margin-top: 1rem;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
  width: fit-content;
  border-radius: 5px;
  padding: 0 1rem 1rem;
}

.itemImg{
  width: 18rem;
}

.itemDetail{
  display: flex;
  margin-top: 1rem;
}

.detailDesc{
  margin-left: 1rem;
  line-height: 2rem;
}

/* CARRITO DE COMPRAS */

.checkoutBtn{
  background-color: #f3dbcf;
  border: #c9bbc8;
  padding: .5rem;
  border-radius: 3px;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.checkoutNowBtn{
  background-color: #aac9ce;
  margin-top: .5rem;
  border: #c9bbc8;
  padding: .5rem;
  border-radius: 3px;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.cart{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

.cart-img{
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.cart-items-number{
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  background-color: #ad9aad;
  border-radius: 50%;
  padding: 2px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-weight: 1000;
}

.emptyCart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCart-text{
  color: #928791;
  font-size: medium;
  text-align: center;
}

.homeBtn{
  margin-top: 2rem;
  padding: .5rem;
  font-size: medium;
  background-color: #aac9ce;
  border: solid 1px #333c3d;
  border-radius: 3px;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
  transition: all .3s;
}

.homeBtn:hover{
  background-color: #9cbcc0;
  transform: scale(1.1);
}

.checkout{
  display: flex;
}

.cartTitle{
  text-align: center;
}

.deleteAllBtn{
  margin: 1rem;
}

.deleteItem{
  align-self: flex-start;
  background-color: #c9bbc8;
}

.cartItem{
  display: flex;
  height: 40vh;
  width: 60vw;
  border: 1px solid #ad9aadad;
  border-radius: 15px;
  margin: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.cartItem-img{
  height: 40vh;
}

.cartItem-total{
  font-size: xx-large;
  margin-top: 3rem;
}

.cartTotal{
  border: 1px solid black;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 30vw;
  padding: 1rem;
  border-radius: 15px;
}

.resumenText{
  display: flex;
  justify-content: space-between;
}

.resumenText:first-of-type{
  margin-top: 1rem;
}
.resumenText:last-of-type{
  margin-bottom: 1rem;
}

.loadingImg{
  margin: auto;
  width: 6rem;
  height: 8rem;
}

/* ITEM DETAIL */

.detailImg{
  width: 50vw;
}

.prodImg{
  width: 50vw;
}