/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* PAGE RESET */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a:hover, button:hover{
  cursor: pointer;
}

/* NAVBAR */
.navbar{
  background-color: #c9bbc8;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  align-self: center;
  margin-left: 1rem;
}

.navlist{
  display: flex;
  list-style-type: none;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navlist-item{
  padding: 1rem;
  border-radius: 5px;
}

.navlist-link{
  height: 100%;
}

.navlist-item:hover{
  background-color: #ad9aad;
}

/* CARRITO DE COMPRAS */

.cart{
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;

}

.cart-img{
  width: 2rem;
  height: 2rem;
  align-self: center;
}

.cart-items-number{
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  background-color: #ad9aad;
  border-radius: 50%;
  padding: 2px;
  width: 1rem;
  height: 1rem;
  text-align: center;
}

/* ADD TO CART */
.addToCart{
  margin-left: 1rem;
}

.stock{
  display: flex;
  align-items:center;
}

.stockTxt{
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: larger;
}

.stockBtn{
  margin-bottom: 1rem;
}

.stockBtn, .addToCartBtn, .detailBtn{
  background-color: #e5c1cd;
  border: #c9bbc8;
  padding: .5rem;
  border-radius: 3px;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
}

/* TEMPORAL */

.itemSection{
  display: flex;
  flex-wrap: wrap;
}

.itemCard{
  margin-left: 1rem;
  border: #c9bbc8;
  margin-top: 1rem;
  box-shadow: 0px 1.5px 1.5px 1px rgba(178, 178, 179, 0.502);
  width: fit-content;
  border-radius: 5px;
  padding: 0 1rem 1rem;
}

.itemImg{
  width: 18rem;
}
